@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Montserrat:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0ABAB5;
  --color-secondary: #FAC213;
  --color-warm-gray: #d9d6d0;
  --color-background-light: #f9f8f6;
  --color-background-dark: #102122;

  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F9F8F6;
}

/* Oculta el ojo nativo del navegador en inputs de contraseña */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
}